<section class="advantages">
    <h2 class="is-hidden">Преимущества пантовых орешек PantoMAX</h2>
    <div class="advantages__header"><span class="bold">Преимущества</span> пантовых орешек <span class="bold">Panto<span
            class="orange-text">MAX</span></span></div>
    <div class="advantages__main">
        <img src="../images/bg-advantages.png" alt="PantoMAX" class="advantages__product">
    </div>
    <ul class="advantages__list">
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--1"></div>
                <div class="advantage-block__text">Дарит яркие <br> оргазмы</div>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--2"></div>
                <div class="advantage-block__text">Нормализует гормональный фон</div>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--3"></div>
                <div class="advantage-block__text">Избавляет от эректильной дисфункции</div>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--4"></div>
                <div class="advantage-block__text">Улучшает кровообращение в организме</div>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--5"></div>
                <div class="advantage-block__text">Повышает тонус и жизненные силы</div>
            </div>
        </li>
        <li class="advantages__item">
            <div class="advantage-block">
                <div class="advantage-block__photo advantage-block__photo--6"></div>
                <div class="advantage-block__text">Регулирует либидо и желание</div>
            </div>
        </li>
    </ul>
</section>