<section class="hero">
    <h1 class="is-hidden">PantoMax</h1>
    <header class="hero__header">
        <a href="#" class="logo"><img src="images/logo.png" alt="PantoMax"></a>
        <div class="natural-logo"><span class="hero__header-span">100%</span> натурально</div>
        <div class="big-finger"><span class="hero__header-span">100%</span> эффективно</div>
    </header>
    <div class="hero__how-much">Сколько раз за ночь ты можешь?</div>
    <div class="hero__main">
        <div class="description">
            <div class="description__header">Пантомакс – каменный стояк для неприличных рекордов</div>
            <ul class="description__list">
                <li class="description__item"><i class="logo-ok"></i><i class="description__text">Мощная эрекция и потенция</i></li>
                <li class="description__item"><i class="logo-ok"></i><i class="description__text">Занимайся сексом сколько хочешь</i></li>
                <li class="description__item"><i class="logo-ok"></i><i class="description__text">Получай космические оргазмы</i></li>
                <li class="description__item"><i class="logo-ok"></i><i class="description__text--last">Гарантированный стояк
                    <br> <span class="br-text">до 3-х часов</span></i></li>
            </ul>
            <div class="description__product-image"><img src="images/hero-product.png" alt="PantoMax"></div>
        </div>
        <div class="discount">
            <div class="discount__image"><img src="images/discount.png" alt="-50%"></div>
            <div class="discount__text">Ваша потенция вернется через 21 день применения! Проверьте сами</div>
        </div>
        <div class="form-section">
            <div class="counter">
                <div class="counter__digits">
                    <div class="counter__digit counter__digit--transparent">0</div>
                    <div class="counter__digit">1</div>
                    <div class="counter__digit">0</div>
                </div>
                <div class="counter__text"><span>*</span>Всего упаковок <br> по акции</div>
            </div>
            <div class="form">
                <div class="form__price">
                    <div class="form__old-price">
                        <div>Полная цена</div>

                        <span class="big-digits">1980</span>
                        <span class="small">руб</span>
                    </div>

                    <div class="form__new-price">
                        <div>Цена со скидкой</div>

                        <span class="big-digits">990</span>
                        <span class="small">руб</span>
                    </div>
                </div>

                <form class="order-form">
                    <input name="name" type="text" placeholder="Введите ваше имя">

                    <input name="phone" type="text" placeholder="Введите номер телефона">

                    <button class="form__button"><span></span> Заказать сейчас</button>
                </form>

                <div class="form__security">Ваши данные под защитой SecureTECH</div>
            </div>
        </div>
    </div>


</section>

