<section class="question">
    <h2 class="is-hidden">Как уменьшалась эрекция?</h2>
    <div class="question__top">Проблема <span class="orange-text">ума</span> <span class="thin-text">или</span> <span class="orange-text">тела</span>?</div>
    <div class="question__text">Ответьте всего на 2 вопроса и узнайте свой тип импотенции</div>
    <div class="question-form">
        <div class="question-form__text"><span>1</span>Как уменьшалась эрекция?</div>
        <div class="question-form__buttons">
            <button class="question-form__button">Постепенно</button>
            <button class="question-form__button">Внезапно</button>
        </div>
    </div>
</section>