// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$big-finger-name: 'big-finger';
$big-finger-x: 0px;
$big-finger-y: 0px;
$big-finger-offset-x: 0px;
$big-finger-offset-y: 0px;
$big-finger-width: 42px;
$big-finger-height: 37px;
$big-finger-total-width: 71px;
$big-finger-total-height: 37px;
$big-finger-image: '../images/sprite.png';
$big-finger: (0px, 0px, 0px, 0px, 42px, 37px, 71px, 37px, '../images/sprite.png', 'big-finger', );
$leaf-name: 'leaf';
$leaf-x: 42px;
$leaf-y: 0px;
$leaf-offset-x: -42px;
$leaf-offset-y: 0px;
$leaf-width: 29px;
$leaf-height: 37px;
$leaf-total-width: 71px;
$leaf-total-height: 37px;
$leaf-image: '../images/sprite.png';
$leaf: (42px, 0px, -42px, 0px, 29px, 37px, 71px, 37px, '../images/sprite.png', 'leaf', );
$spritesheet-width: 71px;
$spritesheet-height: 37px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($big-finger, $leaf, );
$spritesheet: (71px, 37px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
